/* Estilos generales */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(250, 203, 12);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 25px;
}

label {
  margin-bottom: 5px;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

.submit-button {
  border: none;
  border-radius: 4px;
  background-color: gray;
  color: white;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.img-paciente {
  display: block;
  max-width: 50%;
  padding-top: 0.8rem;
  margin: 0 auto;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background-color: gray;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.usernametext {
  margin-top: 5%;
  text-align: center;
}

.contenedor {
  width: 80%;
  margin: 0 auto;
  padding: 1%;
}

.container_s {
  display: grid;
  grid-template-areas: "col1 col1 col3" "col2 col2 col3";
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 50vh 50vh;
  height: 100vh;
  margin: 0 10px 0 20px;
}

.column {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

.column1,
.column2,
.column3 {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(255, 249, 236, 1);
  width: 100%;
}

.column1 {
  grid-area: col1;
  margin-right: 10px;
  border-radius: 10px 0 0 10px;
}

.column2 {
  grid-area: col2;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column3 {
  grid-area: col3;
  margin-left: 10px;
  margin-right: auto;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.column3 form {
  width: 100%;
}

.column3 input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.column3 label {
  font-size: 18px;
}

.column3 .input-group {
  display: flex;
  align-items: center;
}

.column3 .input-group input[type="text"] {
  flex: 1;
}

.column3 .input-group .submit-button {
  margin-left: 10px;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .container_s {
    grid-template-areas: "col1 col1" "col2 col2" "col3 col3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh auto auto;
    margin: 0 10px;
  }

  .column1 {
    margin-right: 0;
    border-radius: 10px 10px 0 0;
  }

  .column2 {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
  }

  .column3 {
    margin-left: 0;
    margin-top: 10px;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}