{% extends "layouts/header.html"%}

{% load crispy_forms_filters %}

{% block content %}

    {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'styles/signup.css' %}">

    <title>Registro de Usuarios</title>

</head>
<body>

    <div class = "logo-container">
        <img class="logo" src="{% static 'assets/images/testfarma_logo.png' %}" alt="" srcset="">
    </div>
    
    <div class = "login-form">

        <h1>Inicio de Sesión</h1>

        <form method="POST">

            {% csrf_token %}
            <div class="form-group">
                {{ form.email }}
            </div>
            
            <div class="form-group">
                {{ form.password }}
            </div>

            <div class="btn-group">
                
                <button class="btn next-btn" type="submit">Siguiente</button>

            </div>

        </form>

        <div class = "register-group">

            <p>¿Ya tienes una cuenta?</p>
            <button class="btn register-btn" onclick="return_to_view()">Iniciar Sesion</button>

        </div>

    </div>

    
</body>
</html>

{% endblock %}