{% extends "layouts/header.html"%}
<!--  -->
{% load crispy_forms_filters %}
<!--  -->
{% block content %}
<!--  -->
{% load static %}
<!--  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'styles/signup.css' %}" />

    <title>Registro de Usuarios</title>
  </head>
  <body>
    <div class="split left">
      <div class="container">
        <div class="container light-background">
          <div class="row">
        <form method="POST" id="reg_form" data-towns-url="{% url 'signup_ajax_load_towns' %}">
          {% csrf_token %}  
            <div class="col col-md-12 left-title">
              <h1><strong>Soy un...</strong></h1>
            </div>
          </div>
         
          <div class="row small-light-background" style="margin-top: 15%">
            <div class="left-subtitle">
            
              <input
                type="radio"
                class="btn-check"
                name="user_type"
                id="user_type_0"
                required
                data-form-type="other"
                value="DoctorT"
                autocomplete="off"
              />
              <label class="btn btn-select" for="user_type_0"
                ><h1 class="doctor">Doctor</h1></label
              >
            </div>
          </div>
          <div class="row small-light-background">
          
            <div class="left-subtitle">
              <input
                type="radio"
                class="btn-check"
                name="user_type"
                id="user_type_1"
                required
                data-form-type="other"
                autocomplete="off"
                value="UserT"
              />
              <label class="btn btn-select" for="user_type_1"
                ><h1 class="paciente">Paciente</h1></label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="split right">
      <orm class="container text-center about-you-container">
        <div class="row align-items-center about-you">
          <p class="tittle-right">Cuéntanos sobre ti</p>

          <div class="form-flex">

            <div class="form-group">{{ form.name|as_crispy_field }}</div>

            <div class="form-group">{{ form.last_name|as_crispy_field }}</div>

            <div class="form-group">
              {{ form.mom_last_name|as_crispy_field }}
            </div>

            <div class="form-group">
              <label for="id_birth_date" style="text-align: start; margin-left: 5px;">Fecha de Nacimiento</label>
              {{ form.birth_date|as_crispy_field }}
            </div>

            <div class="form-group">{{ form.state|as_crispy_field }}</div>

            <div class="form-group">{{ form.town|as_crispy_field }}</div>

            <div class="form-group">{{ form.gender|as_crispy_field }}</div>


            <div class="btn-sig">
              <button class="next-btn" type="submit">Siguiente</button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>

    <script>
      function link_to_view() {
        window.location.href = "{% url 'login' %}";
      }

      $("#id_state").change(function () {
        var url = $("#reg_form").attr("data-towns-url");  // get the url of the `load_cities` view
        var stateId = $(this).val();  // get the selected country ID from the HTML input
        console.log(stateId)
        console.log(url)

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
            'state': stateId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_town").html(data);
              console.log(data)  // replace the contents of the city input with the data that came from the server
            },
            error: function (data) {
              alert("Por favor selecciona un estado");
            }
        });
      });

    </script>
  </body>
</html>

{% endblock %}
