{% extends "layouts/header.html"%}
<!--  -->
{% load crispy_forms_filters %}
<!--  -->
{% block content %}
<!--  -->
{% load static %}
<!--  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'styles/signup.css' %}" />

    <title>Registro de Usuarios</title>
  </head>
  <body>
    <div class="logo-container">
      <img
        class="logo"
        src="{% static 'assets/images/testfarma_logo.png' %}"
        alt=""
        srcset=""
      />
    </div>

    <div class="login-form">
      <h1>Cuentanos sobre ti</h1>

      <form method="POST">
        {% csrf_token %}
        <div class="form-group">{{ form.name|as_crispy_field }}</div>

        <div class="form-group">{{ form.last_name|as_crispy_field }}</div>

        <div class="form-group">{{ form.mom_last_name|as_crispy_field }}</div>

        <div class="form-group">{{ form.birth_date|as_crispy_field }}</div>

        <div class="form-group">{{ form.gender|as_crispy_field }}</div>

        <div class="form-group">{{ form.user_type|as_crispy_field }}</div>

        <div class="btn-group">
          <button class="btn next-btn" type="submit">Siguiente</button>
        </div>
      </form>

      <div class="register-group">
        <p>¿Ya tienes una cuenta?</p>
        <button class="btn register-btn" onclick="link_to_view()">
          Iniciar Sesion
        </button>
      </div>
    </div>

    <script>
      function link_to_view() {
        window.location.href = "{% url 'login' %}";
      }
    </script>
  </body>
</html>

{% endblock %}
