{% include "layouts/dash_navbar.html"%}
<!--  -->
{% load crispy_forms_filters %}
<!--  -->
{% block content %}
<!--  -->
{% load static %}
<!--  -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/recommendations.css' %}" />
    <title>Agendar Estudio</title>
  </head>
  <body>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h1 class="modal-title fs-5 title" id="exampleModalLabel">
              ¿Estás seguro de que deseas eliminar este estudio?
            </h1>
          </div>
          <div class="modal-footer border-0">
            <button
              type="button"
              class="btn modal-left"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn modal-right"
              id="modal-delete-button"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid appointments h-100 align-items-center">
      <div class="row d-flex justify-content-around">
        <div class="col col-md-4 appointments">
          <div class="row">
            <div class="col title"><p>Buscar Estudios Recomendados</p></div>
          </div>
          <div class="row studies">
            <form method="POST">
              {% csrf_token %}
              <div class="mb-3">
                {{ form.height }}
              </div>
              <div class="mb-3">
                {{ form.weight }}
              </div>
            </form>
          </div>
          <button type="button" class="btn btn-left">Buscar</button>
        </div>
        <div class="col col-md-7 appointments">
          <div class="row">
            <div class="col title"><p>Estudios Recomendados</p></div>
          </div>
          <div class="row dates">
            <div class="card">
              <div class="card-body" id="card-1" onclick="deleteCard('card-1')">
                <h5 class="card-title">Título del Estudio</h5>
                <p class="card-text">
                  Dirección: Avenida Santa Fe 94, Torre A, Piso 8, Zedec Sta Fé,
                  01210 Ciudad de México, CDMX
                </p>
                <p class="card-text">Fecha: 25/05/2023</p>
                <p class="card-text">Hora: 16:45</p>
                <button
                  type="submit"
                  class="btn btn-right"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  <i class="bi bi-calendar-x"></i>
                  &nbsp;Cancelar Estudio
                </button>
                <button
                  type="submit"
                  class="btn btn-right small"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  <i class="bi bi-calendar-x"></i>
                </button>
              </div>
              <div class="card-body" id="card-2" onclick="deleteCard('card-2')">
                <h5 class="card-title">Título del Estudio</h5>
                <p class="card-text">
                  Dirección: Avenida Santa Fe 94, Torre A, Piso 8, Zedec Sta Fé,
                  01210 Ciudad de México, CDMX
                </p>
                <p class="card-text">Fecha: 25/05/2023</p>
                <p class="card-text">Hora: 16:45</p>
                <button
                  type="submit"
                  class="btn btn-right"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  <i class="bi bi-calendar-x"></i>
                  &nbsp;Cancelar Estudio
                </button>
                <button
                  type="submit"
                  class="btn btn-right small"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  <i class="bi bi-calendar-x"></i>
                </button>
              </div>
              <div class="card-body" id="card-3" onclick="deleteCard('card-3')">
                <h5 class="card-title">Título del Estudio</h5>
                <p class="card-text">
                  Dirección: Avenida Santa Fe 94, Torre A, Piso 8, Zedec Sta Fé,
                  01210 Ciudad de México, CDMX
                </p>
                <p class="card-text">Fecha: 25/05/2023</p>
                <p class="card-text">Hora: 16:45</p>
                <button
                  type="submit"
                  class="btn btn-right"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  <i class="bi bi-calendar-x"></i>
                  &nbsp;Cancelar Estudio
                </button>
                <button
                  type="submit"
                  class="btn btn-right small"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  <i class="bi bi-calendar-x"></i>
                </button>
              </div>
              <div class="card-body" id="card-4" onclick="deleteCard('card-4')">
                <h5 class="card-title">Título del Estudio</h5>
                <p class="card-text">
                  Dirección: Avenida Santa Fe 94, Torre A, Piso 8, Zedec Sta Fé,
                  01210 Ciudad de México, CDMX
                </p>
                <p class="card-text">Fecha: 25/05/2023</p>
                <p class="card-text">Hora: 16:45</p>
                <button
                  type="submit"
                  class="btn btn-right"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  <i class="bi bi-calendar-x"></i>
                  &nbsp;Cancelar Estudio
                </button>
                <button
                  type="submit"
                  class="btn btn-right small"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  <i class="bi bi-calendar-x"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function deleteCard(cardId) {
        var modal = document.getElementById("exampleModal");
        var deleteButton = document.getElementById("modal-delete-button");

        // Create a new function for deleting the card
        var deleteCardHandler = function () {
          var card = document.getElementById(cardId);
          if (card) {
            card.remove(); // Remove the card element
          }
          // Close the modal and remove the backdrop using jQuery
          $(modal).modal("hide");
          $(".modal-backdrop").remove();

          // Remove the event listener from the delete button
          deleteButton.removeEventListener("click", deleteCardHandler);
        };

        // Add the event listener to the delete button
        deleteButton.addEventListener("click", deleteCardHandler);

        // Show the modal using jQuery
        $(modal).modal("show");
      }
    </script>
  </body>
</html>

{% endblock %}
