{% extends "layouts/header.html"%}
<!--  -->
{% load crispy_forms_filters %}
<!--  -->
{% block content %}
<!--  -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'styles/login.css' %}" />
  </head>

  <body>
    <div class="split left">
      <div class="container">
        <div class="img-container">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'assets/images/pablo.jpeg' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'assets/images/pablo2.webp' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'assets/images/pablo3.webp' %}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <!--
      <div class="container">
        <div class="img-container">
          <img
            class="login-img"
            src="{% static 'assets/images/pablo.jpeg' %}"
            alt=""
            srcset=""
          />
        </div>
      </div>
    -->

    </div>

    <div class="split right">
      <div class="container container-md right-container">
        <div class="row">
          <div class="col col-md logo-container">
            <img
              class="logo"
              src="{% static 'assets/images/testfarma_logo.png' %}"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col col-md welcome-title">
            <h1 class="title">Bienvenido</h1>
          </div>
        </div>
        <div class="row login-form">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">{{ form.email }}</div>

            <div class="form-group">{{ form.password }}</div>

            <div class="row btn-group">
              <div class="col col-md-6 login-btn-container">
                <button class="btn btn-primary login-btn" type="submit">
                  Inicia Sesión
                </button>
              </div>
              <div class="col col-md-6 register-btn-container">
                <button
                  class="btn btn-primary register-btn"
                  onclick="link_to_view()"
                >
                  Registrate
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-12 password-help">
                <small class="form-text text-muted"
                  ><a class="password-help-text" href="#"
                    >¿Olvidaste tu contraseña?</a
                  ></small
                >
              </div>
            </div>
          </form>

          <div class="register-group"></div>
        </div>
      </div>
    </div>

    <script>
      function link_to_view() {
        window.location.href = "{% url 'register' %}";
      }
    </script>
  </body>
</html>

{% endblock %}
