{% autoescape off %}

  Hola {{ user.name }},
    
  Para iniciar el proceso de restablecimiento de contraseña para el usuario registrado con el correo {{ user.email }},
  Da click en el siguiente enlace:

  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

  Si al dar click en el enlace no funciona, copia y pega la URL en tu navegador.

  Si no solicitaste un restablecimiento de contraseña, ignora este correo y no se realizará ningún cambio.

  Atentamenete,
  El equipo de TestFarma.

{% endautoescape %}