{% extends "layouts/header.html"%}
<!--  -->
{% load crispy_forms_filters %}
<!--  -->
{% block content %}
<!--  -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'styles/reset.css' %}" />
  </head>

  <body style="background-color: #fff9ec;">

    {% if validlink %}

      <div class="container container-md right-container">
        <div class="row">
          <div class="col col-md logo-container">
            <img
              class="logo"
              src="{% static 'assets/images/testfarma_logo.png' %}"
              alt=""
              srcset=""
            />
          </div>
        </div>

        <div class="row">
          <div class="col col-md welcome-title">
            <h1 class="title">Restablece tu Contraseña</h1>
          </div>
        </div>
        <div class="row reset-form" style="display: flex; align-items: center; justify-content: center;">

            <form method="POST" class="needs-validation" style="width: 40%; display: flex; margin-top: 10px;">
                {% csrf_token %}

                {{ form.new_password1|as_crispy_field }}

                {{ form.new_password2|as_crispy_field }}

                <button type="submit" id="reset" class="btn btn-warning" style="margin-top: 10px;">Restablecer Contraseña</button>
                
            </form>
            

        </div>
      </div>
    
    {% else %}

        <div class="alert alert-warning">
            El link de restablecimiento de contraseña es invalido, por favor solicita uno nuevo.
        </div>

    {% endif %}

    <script>
      function link_to_view() {
        window.location.href = "{% url 'login' %}";
      }
    </script>
  </body>
</html>

{% endblock %}
