{% extends "layouts/header.html"%}
<!--  -->
{% load crispy_forms_filters %}
<!--  -->
{% block content %}
<!--  -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'styles/reset.css' %}" />
  </head>

  <body style="background-color: #fff9ec;">

      <div class="container container-md right-container">
        <div class="row">
          <div class="col col-md logo-container">
            <img
              class="logo"
              src="{% static 'assets/images/testfarma_logo.png' %}"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col col-md welcome-title">
            <h1 class="title">¿Olviaste tu contraseña?</h1>
          </div>
        </div>
        <div class="row reset-form" style="display: flex; align-items: center; justify-content: center;">

            <p class="" style="text-align: center; margin-top: 5px;">Ingresa tu correo electronico asociado a tu cuneta de TestFarma</p>

            <form method="POST" style="width: 70%; display: flex; align-items: center; justify-content: center;">
                {% csrf_token %}

                <input type="email" name="email"  class="form-control"
                                               autocomplete="email" maxlength="254" required id="id_email"
                                               placeholder="Correo Electronico">

                <br><br>
                <button type="submit" class="btn btn-warning">Continuar</button>
                
            </form>
            

        </div>
      </div>

    <script>
      function link_to_view() {
        window.location.href = "{% url 'login' %}";
      }
    </script>
  </body>
</html>

{% endblock %}
