.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #fff9ec !important;
}

a.navbar {
  padding: 0;
  height: 5rem;
  min-width: 3rem;
}

.logo {
  padding: 10px 0px 10px 10px;
  margin: 0;
  float: left;
  max-width: 80%;
  height: auto;
}

.nav-item {
  margin: 0 3rem;
  font-size: 1.5rem;
}

ul.navbar-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.active-page {
  background-color: rgba(80, 80, 80, 0.112);
  border-radius: 5px;
  padding: 0.5rem 1.5rem !important;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  a.navbar {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    max-width: 70%;
  }
}
