.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #facb0c;
}

.right {
  right: 0;
  background-color: #fff9ec;
}

.titulo-left {
  color: #333;
  font-weight: bold;
  font-size: 4rem;
}

.titulo-left.top {
  color: #333;
  font-weight: bold;
  font-size: 4rem;
  padding-top: 35%;
}

.flex-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-flex {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-group {
  width: 75%;
}

.instructions {
  width: 75%;
  justify-self: left !important;
}

.parameters {
  width: 75%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 5rem;
  justify-self: left;
}

.btn-sig {
  padding-top: 5rem;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.next-btn {
  border-color: transparent;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  background-color: #facb0c;
  transition: all 0.1s;
}

.next-btn:hover {
  background-color: #ffdc4e;
  transition: all 0.1s;
}

@media screen and (max-width: 1180px) {
  form {
    width: 70%;
  }
}
