.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #facb0c;
}

.right {
  right: 0;
  background-color: #fff9ec;
}

.titulo-mid {
  color: #333;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}

.titulo-left {
  color: #333;
  font-weight: bold;
  font-size: 4rem;
}

.titulo-left.top {
  color: #333;
  font-weight: bold;
  font-size: 4rem;
  padding-top: 35%;
}

.flex-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .form-group {
  width: 75%;
}

.instructions {
  width: 75%;
  justify-self: left !important;
}

.parameters {
  width: 75%;
} */

.last-data-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.last-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 5rem;
  justify-self: left;
}

.btn-sig {
  padding-top: 5rem;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.next-btn {
  border-color: transparent;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  background-color: #facb0c;
  transition: all 0.1s;
  margin-bottom: 1rem;
}

.next-btn:hover {
  background-color: #ffdc4e;
  transition: all 0.1s;
}

.img-checkmark {
  max-width: 50%;
  margin-bottom: 0.83em;
  padding-top: 0.8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 0.83em;
}

@media screen and (max-width: 1180px) {
  form {
    width: 70%;
  }
}

@media (max-width: 820px) {
  .split {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .left {
    display: none;
  }

  .btn-sig {
    padding-top: 2rem;
  }

  .titulo-mid {
    font-size: 3rem;
  }
}
