.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #facb0c;
}

.login-img {
  border-radius: 10%;
}

.welcome-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.right {
  right: 0;
  background-color: #fff9ec;
}

.light-background {
  background-color: #fff9ec;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
}

.small-light-background {
  width: 90%;
  height: 20%;
  box-shadow: 12px 12px 2px 1px #faca0c4e;
  border-radius: 10px;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 5%;
  border-width: 5px;
  border: 1px solid #e6e6e6;
  transition: transform 0.3s ease;
  padding: 0;
}

.small-light-background:hover {
  background-color: #f5e9ce;
  transform: translate(0, -5px);
}

.tittle-right {
  padding-top: 0;
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.left-title {
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.left-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-color: red;
}

.logo {
  width: 350px;
  height: 65px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.form-group {
  display: flex;
  margin-top: 1.2rem;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.next-btn {
  width: 100%;
  height: 3rem;
  transition: 0.3s;
  background-color: #facb0c;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  border: transparent;
  border-radius: 1rem;
}

.about-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.about-you-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.right input,
select {
  width: 100%;
  height: 3.5rem;
  border: 1px solid #e6e6e6;
  border-radius: 1rem;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.next-btn:hover {
  background-color: #d0a700;
}

.btn-sig {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.register-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.register-group p {
  font-size: 18pt;
}

.register-btn {
  transition: 0.3s;
  background-color: #facb0c;
  width: 40%;
}

.register-btn:hover {
  background-color: #d0a700;
}

a {
  color: #d0a700;
}

.paciente {
  align-self: center;
}

.doctor {
  align-self: center;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: #f5e9ce;
  border-color: #f5e9ce;
}

.btn.btn-select {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.user_type_buttons {
  display: none;
}

@media screen and (max-width: 1180px) {
  form {
    width: 70%;
  }

  .register-btn {
    width: 70%;
  }
}

@media (max-width: 820px) {
  .split {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .left {
    display: none;
  }

  .user_type_buttons {
    display: block;
  }

  .next-btn {
    margin-bottom: 20px;
  }

}
