body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 203, 12);
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
  }
  
  .categories {
    padding: 4% 0;
    margin-top: 2.5%;
  }
  
  .box-3 {
    width: 28%;
    float: left;
    margin: 2%;
  }
  
  .img-responsive {
    width: 100%;
  }
  
  .img-curve {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .cube-text {
    color: black;
    text-align: center;
    background-color: white;
    margin-bottom: 0%;
  }
  
  .cube-text2 {
    color: rgb(202, 188, 40);
    text-align: center;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 0%;
  }
  
  /* CSS for Mobile Size or Smaller Screen */
  
  @media only screen and (max-width: 768px) {
    .logo {
      width: 80%;
      float: none;
      margin: 1% auto;
    }
  
    .menu ul {
      text-align: center;
    }
  
    .food-search input[type="search"] {
      width: 90%;
      padding: 2%;
      margin-bottom: 3%;
    }
  
    .btn {
      width: 91%;
      padding: 2%;
    }
  
    .food-search {
      padding: 10% 0;
    }
  
    .categories {
      padding: 20% 0;
    }
  
    h2 {
      margin-bottom: 10%;
    }
  
    .box-3 {
      width: 100%;
      margin: 4% auto;
    }
  
    .food-menu {
      padding: 20% 0;
    }
  
    .food-menu-box {
      width: 90%;
      padding: 5%;
      margin-bottom: 5%;
    }
  
    .social {
      padding: 5% 0;
    }
  
    .order {
      width: 100%;
    }
  }
  
