{% include "layouts/dash_navbar.html"%}
<!--  -->
{% load crispy_forms_filters %}
<!--  -->
{% block content %}
<!--  -->
{% load static %}
<!--  -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'styles/profile.css' %}" />
  <title>Profile</title>
</head>

<body>
    <div class="container_s">
        <div class="column column1"> 
          <div class="contenedor">
            <img class="img-paciente" src="{% static 'assets/images/paciente.png' %}" alt="patient">
            <h1 class="usernametext">{{ user.first_name }}</h1>
          </div>
        </div>

        <div class="column column2">
          <div class="button-container">
            <button class="button"><h1>Información de cuenta</h1></button>
            <button class="button"><h1>Configuración</h1></button>
          </div>
        </div>

        <div class="column column3">

          <form action="/action_page.php">
            <div class="form-group">
              <label for="fname"><h1>Editar Información</h1></label>
              <label for="fname"><h1>Correo Electronico</h1></label>
              <div class="input-group">
                <input type="text" id="fname" name="fname" value="{{ user.email}}" disabled>
                <button type="submit" class="submit-button">
                  <span class="arrow">&#8592;</span>
                </button>
              </div>
            </div>
            <div class="form-group">
              <label for="lname"><h1>Contraseña</h1></label>
              <div class="input-group">
                <input type="text" id="lname" name="lname" placeholder="Contraseña">
                <button type="submit" class="submit-button">
                  <span class="arrow">&#8592;</span>
                </button>
              </div>
            </div>
            <div class="form-group">
              <label for="fname"><h1>Fehca de nacimiento</h1></label>
              <div class="input-group">
                <input type="text" id="fname" name="fname" value="{{ user.birth_date|date:'d/m/Y' }}" disabled>
                <button type="submit" class="submit-button">
                  <span class="arrow">&#8592;</span>
                </button>
              </div>
            </div>
            <div class="form-group">
              <label for="lname"><h1>Genero</h1></label>
              <div class="input-group">
                <input type="text" id="lname" name="lname" value="{{ user.gender_text}}" disabled>
                <button type="submit" class="submit-button">
                  <span class="arrow">&#8592;</span>
                </button>
              </div>
            </div>
          </form>
          

          
        </div>

      </div>
</body>
</html>

{% endblock %}
