{% include "layouts/dash_navbar.html"%}
<!--  -->
{% load crispy_forms_filters %}
<!--  -->
{% block content %}
<!--  -->
{% load static %}
<!--  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'styles/appointments.css' %}" />
    <title>Agendar Estudio</title>
  </head>
  <body>
    <!-- Modal -->
    <div
      class="modal fade"
      id="appointmentCancelModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header border-0">
            <h1 class="modal-title fs-5 title" id="appointmentCancel">
              ¿Estás seguro que deseas eliminar esta cita?
            </h1>
          </div>
          <div class="modal-body border-0">
            <p>Servicio: servicio</p>
            <p>Dirección: direccion_laboratorio</p>
            <p>Fecha: fecha</p>
            <p>Hora: hora</p>
          </div>
          <div class="modal-footer border-0">
            <button
              type="button"
              class="btn modal-left"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn modal-right"
              id="modal-delete-button"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid appointments h-100 align-items-center">
      <div class="row d-flex justify-content-around">
        <div class="col col-md-4 appointments">
          <div class="row">
            <div class="col title"><p>Agendar Cita</p></div>
          </div>
          <div class="row studies">
            <form method="POST" id="reg_form" data-towns-url="{% url 'ajax_load_towns' %}">
              
              <div class="mb-3">
                {{ form.state|as_crispy_field }}
              </div>

              <div class="mb-3">
                {{ form.town|as_crispy_field }}
              </div>

              <div class="mb-3">
                {{ form.study|as_crispy_field }}
              </div>
          
              <div class="mb-3">
                {{ form.date|as_crispy_field }}
              </div>

              <div class="mb-3 cs-form">
                {{ form.hour|as_crispy_field }}
              </div>
            </form>
          </div>
          <button type="button" id="agendarButton" class="btn btn-left">
            Agendar
          </button>
        </div>
        <div class="col col-md-7 appointments">
          <div class="row">
            <div class="col title"><p>Citas Agendadas</p></div>
          </div>
          <div class="row dates">
            
            <div class="card cards_container">
              <div class="card-body" id="card-1" onclick="">
                <h5 class="card-title">undefined</h5>
                <p class="card-text">Dirección: undefined</p>
                <p class="card-text">Fecha: undefined</p><p class="card-text">Hora: undefined</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <script>
      function deleteCard(cardId) {
        var modal = document.getElementById("appointmentCancelModal");
        var deleteButton = document.getElementById("modal-delete-button");

        // Update the modal content based on the card body information
        var card = document.getElementById(cardId);
        var servicio = card.querySelector(".card-title").textContent;
        var direccion = card.querySelector(
          ".card-text:nth-of-type(1)"
        ).textContent;
        var fecha = card.querySelector(".card-text:nth-of-type(2)").textContent;
        var hora = card.querySelector(".card-text:nth-of-type(3)").textContent;

        modal.querySelector(".modal-body p:nth-of-type(1)").textContent =
          "Servicio: " + servicio;

        modal.querySelector(".modal-body p:nth-of-type(2)").textContent =
          direccion;

        modal.querySelector(".modal-body p:nth-of-type(3)").textContent = fecha;

        modal.querySelector(".modal-body p:nth-of-type(4)").textContent = hora;

        // Create a new function for deleting the card
        var deleteCardHandler = function () {
          card.remove(); // Remove the card element

          // Close the modal and remove the backdrop using jQuery
          $(modal).modal("hide");
          $(".modal-backdrop").remove();

          // Remove the event listener from the delete button
          deleteButton.removeEventListener("click", deleteCardHandler);
        };

        // Add the event listener to the delete button
        deleteButton.addEventListener("click", deleteCardHandler);

        // Show the modal using jQuery
        $(modal).modal("show");
      }

      $("#id_state").change(function () {
        var url = $("#reg_form").attr("data-towns-url");  // get the url of the `load_cities` view
        var stateId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
            'state': stateId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_town").html(data);  // replace the contents of the city input with the data that came from the server
            },
            error: function (data) {
              alert("error");
            }
        });
      });

    </script>
  </body>
</html>

{% endblock %}
