

{% block content %}

    {% load static %}

    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title></title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="contact.css">
        </head>
        <body>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d11526.249681444266!2d-99.26282005523773!3d19.369019241874522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1stestfarma!5e0!3m2!1ses-419!2smx!4v1686128409433!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
        </body>
    </html>

{% endblock %}