{% include 'layouts/navbar2.html' %}

{% block content %}
  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Servicios</title>
      
      <link rel="stylesheet" href="{% static 'styles/services.css' %}" />
    </head>
    <body>
        <main>
            <script src="https://kit.fontawesome.com/a74fb2b9e7.js" crossorigin="anonymous"></script>
            <div class="background">
                <div class="round_container">
                    <div class="title1" style="padding-left: 30px; padding-top: 20px;">Términos y Condiciones</div>
                    <hr class="hr_yellow" style="margin-left: 46px; margin-top: 8px; width: 30%;">
                    <div class="text1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus purus in massa tempor. Ipsum dolor sit amet consectetur adipiscing elit.
                         Malesuada proin libero nunc consequat interdum varius. Vitae turpis massa sed elementum tempus. <br><br>Sagittis purus sit amet volutpat consequat mauris nunc congue. Ut morbi tincidunt augue interdum velit euismod in. Ipsum dolor sit amet consectetur. Eu non diam phasellus vestibulum lorem sed risus ultricies.
                         Molestie ac feugiat sed lectus vestibulum mattis. <br>Esque eu tincidunt tortor. Ornare massa eget egestas purus viverra accumsan in nisl nisi. Ut eu sem integer vitae justo eget magna fermentum iaculis. Elit at imperdiet dui accumsan. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu.      
                    </div> 
                </div>
            </div>
        </main>
    </body>
  </html>
{% endblock %}