{% include 'layouts/navbar2.html' %}

{% block content %}
  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Servicios</title>
      
      <link rel="stylesheet" href="{% static 'styles/terms.css' %}" />

      <style>

        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Inter', sans-serif;
        }

        body {
            height: 100vh;
            background-color: #FFF9EC;
            background-size: cover;
            background-position: center;
        }

        .terms-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #FFFFFF;
            border-radius: 10px;
            padding: 20px;
            top: 35px;
            max-width: 90% ; /* Limita el ancho máximo */
            margin: 35px auto 0; /* Centra horizontalmente */
            box-sizing: border-box; /* Ajusta el tamaño incluyendo el padding */
        }
                          
        .terms-text {
            text-align: center;
            align-self: flex-start; /* Alinea a la izquierda */
            margin-right: 10px; /* Espaciado a la derecha */
        }
                          
        .terms-text h2 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
                          
        .terms-rectangle {
            width: 200px;
            height: 10px;
            background-color: yellow;
            border-radius: 10px;
            margin: 10px 10px 10px 10px;
        }

      </style>
    </head>
    <body>
        <main>

          <div class="terms-container">

            <div class="terms-text">
              <h2>Terminos y condiciones</h2>
              <div class="terms-rectangle"></div>
            </div>

            <div>
              <p class="text-sm-start">


                El presente Aviso de Privacidad (en lo sucesivo el “Aviso de Privacidad”) se establece en cumplimiento por lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares ( la "Ley de Datos Personales"), su Reglamento (el “Reglamento”) y los Lineamientos del Aviso de Privacidad.
 
                Todos los términos utilizados con mayúscula inicial no definidos en el presente tendrán el significado que se les atribuye en la Ley de Datos Personales, así como en los Términos y Condiciones de Uso disponibles para consulta en la siguiente página de Internet: www.testfarma.com.mx.com/aviso-de-privacidad

                <br>
                
                <b>1. IDENTIDAD Y DOMICILIO DEL RESPONSABLE QUE TRATA LOS DATOS PERSONALES</b>

                <br>
                
                TESTFARMA S.A. DE C.V.  (la “Sociedad”), con domicilio en Fernando Espinoza Gutierrez 55, Zedec Santa Fe, Alcaldía Álvaro Obregón, Ciudad de México, México, C.P. 01210, es la Responsable del Tratamiento de sus Datos Personales conforme al presente Aviso de Privacidad.
                
                La Sociedad informa a los Titulares que su página web es www.testfarma.com.mx. Los Titulares pueden contactar a la Sociedad, mediante el correo electrónico aseguramiento.calidad@testfarma.com.mx o en el número telefónico 55 5967 7424
                
                <br>

                <b>2. MEDIOS DE OBTENCIÓN DE DATOS PERSONALES</b>

                <br>
                
                La Sociedad recabará los Datos Personales del Titular de las siguientes formas:
                
                De manera personal, en los establecimientos de atención al público de la Sociedad, en donde el Titular proporcionará sus Datos Personales, a través de los formatos y documentos que entregue al personal de la Sociedad.
                
                ii. Mediante los siguientes Medios Digitales:
                
                - En el Sitio Web, el Titular proporcionará sus Datos Personales,  (a) enviando mensajes a servicio de mensajería instantánea o chat de la Sociedad y/o (b) llenando los campos requeridos dentro del apartado denominado “Contáctenos”.

                -Mediante llamadas telefónicas, en las que el Titular proporcionará sus Datos Personales a través de comunicación verbal para solicitar una cita o una toma de muestra a domicilio.
                
                -Mediante correo electrónico, en el cual el Titular proporcionará sus Datos Personales, a través de comunicación electrónica escrita para programar una cita o una toma de muestra a domicilio.

                <br>
                
                <b>3. DATOS PERSONALES SOMETIDOS AL TRATAMIENTO</b>
                
                <br>

                Para llevar a cabo las finalidades enlistadas en la Sección 4 del presente Aviso de Privacidad, se utilizaran los siguientes Datos Personales de los Titulares:
                
                Datos Personales
                
                i. Nombre, apellidos, domicilio, número telefónico de casa, celular y/o trabajo, correo electrónico, género, edad, fecha de nacimiento, seguro médico afiliado, lugar de trabajo y firma del Titular.
                
                ii. Nombre, apellidos, domicilio, número telefónico de casa, celular y/o trabajo, correo electrónico, género, edad, fecha de nacimiento y firma del tutor o representante del Titular.
                
                iii. Clave de RFC y domicilio fiscal del Titular que realiza cualquier pago.
                
                Datos Personales Sensibles
                
                iv. Antecedentes de hábitos, padecimientos clínicos o enfermedades relacionados con el Titular.
                
                v. Alergias, enfermedades, medicamentos que consume y otros datos de la salud del Titular.
                
                Los Datos Personales mencionados en los incisos iv. y v. son Datos Personales Sensibles y, por lo tanto, requieren de protección especial.
                
                Mediante la aceptación y/o firma de nuestro aviso de privacidad, el Titular acepta expresamente el Tratamiento por parte de la Sociedad respecto de dichos Datos Personales Sensibles.

                <br>
                
                <b>4. FINALIDADES DEL TRATAMIENTO DE LOS DATOS</b>
                
                <br>

                A. FINALIDADES PRINCIPALES
                
                Los Datos Personales recabados de los Titulares serán utilizados para las siguientes finalidades que son necesarias para la prestación del servicio que los Titulares han solicitado a la Sociedad:
                
                i. Realización de estudios clínicos solicitados por el Titular.
                
                ii. Integración de expedientes clínicos de cada Titular.
                
                iii. Entrega y envío de resultados de estudios clínicos al Titular.
                
                iv. Prestación de cualquier otro servicio solicitado expresamente por el Titular.
                
                B. FINALIDADES SECUNDARIAS
                
                Adicionalmente, se utilizarán exclusivamente su nombre, edad, genero, domicilio, teléfono y correo electrónico para las siguientes finalidades que no son necesarias para los servicios que Testfarma presta al Titular, pero que nos permiten y facilitan proporcionarle una mejor atención:
                
                i. Envío de boletines con información valiosa relacionada con la salud.
                
                ii. Envío de invitaciones a eventos de difusión, promociones y campañas de salud.
                
                iii. Envío de encuestas de satisfacción para mejorar los servicios.
                
                iv. Generación de información estadística que permita la identificación de oportunidades de mejora de nuestros procesos de atención.
                
                v. Generación de estadísticas para la academia y la investigación, con la obligación de que sus Datos Personales sean sometidos a un procedimiento de Disociación previo a su Tratamiento para este fin y, por tanto, no puedan asociarse con el Titular.
                
                C. MECANISMOS PARA MANIFESTAR NEGATIVA PARA EL TRATAMIENTO DE DATOS PERSONALES PARA FINALIDADES QUE NO SON NECESARIAS NI HAN DADO ORIGEN A LA RELACIÓN JURÍDICA CON EL RESPONSABLE.
                
                En caso de que el Titular no desee que sus Datos Personales sean tratados para las finalidades secundarias establecidas en el inciso B. de esta Sección 4, podrá manifestar su negativa a través de:
                La liga o vínculo que viene en el correo electrónico que recibe
                
                Correo electrónico: aseguramiento.calidad@testfarma.com.mx
                
                La negativa para el uso de sus Datos Personales para las finalidades secundarias enlistadas en el inciso B. de esta Sección 4 no es un motivo para que la Sociedad le niegue los servicios contratados con dicha Sociedad.
                
                En caso de que, al momento de recabar Datos Personales, exista una finalidad para el Tratamiento de los Datos Personales distinta de las señaladas en esta Sección 4, la Sociedad lo comunicará al Titular, con el objetivo de que, en caso de ser necesario, manifieste su Consentimiento a la finalidad que corresponda.
                
                En caso de que este Aviso de Privacidad no se haga del conocimiento del Titular de manera directa o personal, se informa que el Titular tiene un plazo de 5 (cinco) días hábiles para manifestar su negativa al Tratamiento de sus Datos Personales para las finalidades secundarias establecidas en el inciso B. de esta Sección 4, mediante notificación por escrito al domicilio del Responsable que sea dirigido al Departamento de  Aseguramiento de Calidad. Dicha notificación deberá indicar claramente: (me) la identidad del Titular; (ii) su negativa para el Tratamiento de Datos Personales relacionados con las finalidades secundarias establecidas en el inciso B. de esta Sección 4; y (iii) datos del domicilio para notificaciones del Titular. En cualquier caso, quedan a salvo los derechos del Titular para revocar u oponerse al Tratamiento de sus Datos Personales.
                
                <br>

                <b>5. TRANSFERENCIAS DE DATOS PERSONALES</b>

                <br>
                
                La Sociedad no lleva a cabo Transferencias sin haber obtenido previamente el Consentimiento del Titular, cuando se requiere de dicho Consentimiento de conformidad con la Ley de Datos Personales.
                
                En ocasiones, la Transferencia de Datos Personales por parte de la Sociedad ocurre en virtud de una instrucción expresa del Titular, con el objeto de que el médico tratante del Titular tenga acceso a estudios clínicos realizados a dicho Titular. El Titular acepta que su instrucción expresa a la Sociedad para transmitir sus Datos Personales a un Tercero, implica su Consentimiento para llevar a cabo la Transferencia que corresponda.
                
                En caso de que, al momento de recabar Datos Personales, exista necesidad de realizar una Transferencia respecto de la cual la Ley de Datos Personales exija el Consentimiento del Titular, la Sociedad lo comunicará al Titular.
                
                En caso de que el Titular no acepte ni autorice la Transferencia de los Datos Personales, la Sociedad podrá negar al Titular el servicio que dependa de la Transferencia de dichos Datos Personales.
                
                En su caso, la Sociedad comunicará a los Terceros el presente Aviso de Privacidad con el propósito de que conozcan y cumplan con las condiciones y las finalidades a las que el Titular sujetó el Tratamiento de sus Datos Personales, asumiendo las mismas responsabilidades que corresponden a la Sociedad como Responsable.

                <br>
                
                <b>6. DATOS PERSONALES DE INCAPACES</b>

                <br>
                
                Con la finalidad de garantizar la protección de los Datos Personales de menores de edad y personas en estado de interdicción, la Sociedad no recopilará, procesará o utilizará de cualquier manera dichos Datos Personales sin el previo Consentimiento de quien legalmente represente al Titular.
                
                En su caso, el representante legal de dichos Titulares actuará a nombre y por cuenta de ellos, estando facultado, en la medida que la legislación civil vigente lo permita, para ejercer los derechos previstos en el presente Aviso de Privacidad, la Ley de Datos Personales y su Reglamento. Para acreditar dicha representación, la Sociedad seguirá las reglas de representación dispuestas en la legislación aplicable en los Estados Unidos Mexicanos.

                <br>
                
                <b>7. MEDIOS Y EL PROCEDIMIENTO PARA EJERCER LOS DERECHOS ARCO</b>

                <br>
                
                De acuerdo con la Ley de Datos Personales, el ejercicio de los derechos de Acceso, Rectificación, Cancelación u Oposición respecto de los Datos Personales que proporcione a la Sociedad (los “Derechos Arco”), lo podrá realizar mediante correo electrónico
                
                aseguramiento.calidad@testfarma.com.mx
                
                Dicha solicitud deberá contener, cuando menos, lo siguiente: (i) nombre del Titular; (ii) domicilio completo y/o correo electrónico del Titular; (iii) documentos que acrediten la identidad del Titular o, en su caso, de su represente legal, así como de la legal representación de éste, en términos del Reglamento; (iv) descripción clara y precisa del derecho que se pretende ejercer y de los Datos Personales respecto de los que se busca ejercer el derecho; (v) cualquier otro elemento o documento que facilite la localización de los Datos Personales; y (vi) en el caso de solicitudes de rectificación de Datos Personales, el Titular deberá indicar, además de lo señalado en esta sección, las modificaciones a realizarse y aportar la documentación que sustente su petición.
                
                En caso de que la solicitud carezca de la información o documentación requerida conforme a lo previsto en el párrafo inmediato anterior, la Sociedad se lo hará saber al Titular dentro de los 5 (cinco) días hábiles posteriores a la recepción de la solicitud. El Titular deberá atender el requerimiento dentro de los 10 (diez) días hábiles siguientes, contados a partir del día siguiente en que haya recibido el requerimiento. De no dar respuesta en dicho plazo, se tendrá por no presentada la solicitud del Titular. Las comunicaciones señaladas en este párrafo se llevarán a cabo vía correo electrónico, salvo que el Titular no haya señalado correo electrónico en su solicitud.
                
                En caso de que el Titular atienda el requerimiento de información, el plazo para que el responsable dé respuesta a la solicitud empezará a correr al día siguiente de que el titular haya atendido el requerimiento.
                
                En caso de que la Sociedad no requiera al Titular documentación adicional para la acreditación de su identidad o de la personalidad de su representante, se entenderá por acreditada la misma con la documentación aportada por el Titular desde la presentación de su solicitud.
                
                Una vez ingresada la solicitud de uno o más de los Derechos ARCO, el plazo de respuesta por parte de la Sociedad será de 20 (veinte) días hábiles a partir de la fecha en que se reciba la solicitud. Si dicha solicitud procede, la Sociedad hará efectiva la resolución dentro de los 15 (quince) días hábiles siguientes a la emisión de la respuesta.
                
                La Sociedad podrá negar el ejercicio de los Derechos ARCO, en los siguientes casos:
                
                i. Cuando el solicitante no sea el Titular de los Datos Personales, o el representante legal no esté debidamente acreditado para ello;
                
                ii. Cuando los Datos Personales no se encuentren en la base de datos de la Sociedad;
                
                iii. Cuando se lesionen los derechos de un tercero;
                
                iv. Cuando exista un impedimento legal o la resolución de una autoridad competente, que restrinja o no permita el ejercicio de sus Derechos ARCO;
                
                v. Cuando la rectificación, cancelación u oposición haya sido previamente realizada; y
                
                vi. En caso de cancelación, cuando los Datos Personales sean resultados de Estudios Médicos de menos de cinco años de antigüedad.

                <br>
                
                <b>8. MECANISMOS Y PROCEDIMIENTOS PARA REVOCAR EL CONSENTIMIENTO</b>

                <br>
                
                El Titular podrá revocar el Consentimiento que nos otorgó para el Tratamiento de sus Datos Personales, salvo que por alguna obligación derivada de alguna disposición legal debamos seguir Tratando sus Datos Personales. El Titular deberá considerar que, para algunas de las finalidades antes mencionadas, la revocación de su Consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó y, con ello, la extinción de nuestra obligación en cuanto a la prestación del servicio solicitado, sin que medie responsabilidad alguna por imposibilitarse la prestación del objeto del servicio solicitado.
                
                Si el Titular desea revocar su Consentimiento al Tratamiento llevado a cabo por la Sociedad respecto de sus Datos Personales deberá hacerlo de nuestro conocimiento mediante la presentación de una solicitud al correo electrónico aseguramiento.calidad@testfarma.com.mx siguiendo el procedimiento, requisitos y plazos establecidos en la Sección 7 anterior. Cabe señalar que la revocación del Consentimiento no tendrá efectos retroactivos, y que el Consentimiento no podrá ser revocado cuando dicho Tratamiento sea una obligación que derive de lo establecido en una disposición legal aplicable o cuando se actualice cualquiera de los supuestos de excepción al Consentimiento previstos en la Ley de Datos Personales y su Reglamento. 

                <br>
                  
                <b>9. CONTROL Y SEGURIDAD DE LA INFORMACIÓN PERSONAL</b>

                <br>
                
                La Sociedad y los empleados que intervengan en cualquier fase del Tratamiento de sus Datos Personales han firmado un acuerdo por el cual se han obligado a guardar confidencialidad respecto de estos, obligación que subsistirá aun después de finalizar sus relaciones con el Titular.
                
                Asimismo, la Sociedad ha establecido y mantendrá medidas de seguridad administrativas, técnicas y físicas que permitan proteger los Datos Personales contra daños, pérdidas, alteraciones, destrucciones, así como del uso, acceso o Tratamiento no autorizado.
                
                La Sociedad se compromete a tomar las medidas de supervisión y vigilancia que sean necesarias para proteger los Datos Personales recabados, utilizando tecnologías de seguridad y procedimientos de control en el acceso, y en el uso o divulgación de dichos Datos Personales sin autorización.
                
                Asimismo, le informamos que los Datos Personales que la Sociedad recaba del Titular, los almacena en servidores ubicados en el centro de datos de la Sociedad que cuenta con controles de acceso limitado, por lo que únicamente pueden ser accesados o consultados por el personal de la Sociedad o por personal subcontratado para dar mantenimiento a nuestros software y servidores, quienes están debidamente autorizados para acceder a dichos servidores, previo conocimiento del presente Aviso de Privacidad y de las políticas internas de privacidad de la Sociedad.

                <br>
                
                <b>10. MEDIOS ELECTRÓNICOS Y COOKIES</b>

                <br>
                
                En el Sitio Web de la Sociedad se utilizan Cookies y/o Web Beacons con las siguientes finalidades: (me) reconocer al usuario de un navegador determinado dentro de cierto ordenador que hubiere accesado previamente al Sitio Web y, en consecuencia, ofrecerle una experiencia personalizada; (ii) calcular el tamaño de la audiencia y medir algunos parámetros de tráfico; (iii) determinar la frecuencia de uso y las secciones visitadas del Sitio Web por dicho usuario, reflejando así sus hábitos y preferencias, lo cual permite a la Sociedad mejorar el contenido, los titulares y las promociones para los usuarios en general y (iv) rastrear ciertas actividades o comportamientos dentro del Sitio Web (e.g. detectar si el usuario ya ha llenado cierta encuesta y evitar desplegarla nuevamente, en caso de que lo haya hecho).
                
                
                Estas tecnologías podrán deshabilitarse en las configuraciones de su explorador de internet. No obstante lo anterior, el usuario debe considerar que algunas secciones del Sitio Web requieren que el usuario respectivo tenga habilitados las cookies por motivos técnicos y para el correcto funcionamiento del mismo.

                <br>
                
                <b>11. CAMBIOS AL AVISO DE PRIVACIDAD</b>

                <br>
                
                El presente Aviso de Privacidad puede sufrir modificaciones o actualizaciones como consecuencia de requerimientos legales o por las políticas internas de la Sociedad. Cualquier modificación al presente Aviso de Privacidad lo haremos de su conocimiento, dentro de las 24 (veinticuatro) horas siguientes a que se verifique el cambio o modificación, a través de un aviso en nuestra página de internet:
                http://www.testfarma.com.mx, dentro de la sección denominada “Aviso de privacidad” en donde indicaremos los cambios realizados, haciendo mención de la última fecha de actualización y exhibiéndole la versión más reciente de dicho Aviso de Privacidad.

                
                <br>
                
                <b>12. INFORMACIÓN SOBRE EL INAI</b>

                <br>
                
                Si el Titular considera que su derecho a la protección de sus Datos Personales ha sido lesionado por alguna conducta u omisión de la Sociedad, o presume alguna violación a las disposiciones previstas en la Ley de Datos Personales y su Reglamento y demás ordenamientos aplicables, podrá interponer su inconformidad o denuncia ante el Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (INAI). Para más información, le sugerimos visitar su página oficial de Internet www.inai.org.mx.
                
                Fecha de creación:             Diciembre 2010
                Fecha de actualización:     Marzo 2020

                <br>
                
                <b>13. Tribunales Competentes y Legislación Aplicable</b>

                <br>

                Para todo lo relativo a la interpretación, ejecución y/o cumplimiento de estos Términos y Condiciones, las Partes se someten expresamente a la aplicación y jurisdicción de las leyes aplicables y los tribunales competentes en la Ciudad de México, México, renunciando a cualquier otra jurisdicción que les pudiera corresponder por razón de sus domicilios presentes o futuros o por cualquier otra causa.





              </p>
            </div>

          </div>

        </main>

        <script src="https://kit.fontawesome.com/a74fb2b9e7.js" crossorigin="anonymous"></script>
    </body>
  </html>
{% endblock %}