{% block content %}
    
    {% load static %}
    
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title></title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="">
        </head>
        <body>
            <main>
                <section>
                    <p>Seccion 1</p>
                </section>

                <section>
                    <p>Seccion 2</p>
                </section>

                <section>
                    <p>Seccion 3</p>
                </section>
            </main>
            <script src="" async defer></script>
        </body>
    </html>

{% endblock %}
